.about-service-card-container {
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: 1px solid var(--border-color);

}

.inner-about-service-left {
    padding: 7rem 5rem;
    border-right: 1px solid var(--border-color);

}

.about-service-card-container .inner-icon-wrapper {
    width: 95px;
    height: 95px;
    border-radius: .8rem;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-secondary);
}

.inner-icon-wrapper .icon-bottom-line {
    height: 4px;
    width: 50%;
    border-radius: .7rem;
    background-color: #000;
}

.about-service-card-container .inner-text-wrapper {
    width: 40vmax;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 4rem 0rem 4rem 7.5rem;

}

.about-service-card-container .inner-text-wrapper h3 {
    color: #fff;
    font-weight: 600;
}

.about-service-card-container .inner-text-wrapper p {
    line-height: 1.9;
}